* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f6fa;
  color: #333;
}

/* ============ DASHBOARD ============ */
.dashboard {
  display: flex;
  min-height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #fff;
  padding: 20px 10px;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  color: gray;
}

.menu li i {
  font-size: 1.1rem;
  min-width: 25px;
  text-align: center;
}


.menu li.active i {
  color: white;
}


.toggle-btn {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

/* Sidebar collapsed state */
.sidebar.collapsed {
  max-width: 70px; /* collapsed width */
  overflow: hidden;
}

.sidebar.collapsed .menu li span {
  display: none; /* hide menu text */
}

.sidebar.collapsed .menu li {
  justify-content: center;
  padding-left: 0;
}

/* Expanded state */
.sidebar.expanded {
  width: 240px; 
}

.sidebar.expanded .menu li span {
  display: inline;
}

.sidebar.expanded .menu li {
  justify-content: flex-start;
  padding-left: 20px;
}


.price-filter {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}

.price-filter h5 {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #444;
}

.filter-inputs {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.filter-inputs input {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-filter {
  width: 100%;
  padding: 6px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.btn-filter:hover {
  background-color: #0056b3;
}
