<footer class="footer bg-dark text-light py-5 mt-5">
    <div class="container text-center text-md-start">
        <div class="row p-5">
            <div class="col-6  col-md-3 mb-4">
                <h6 class="fw-bold text-white">Get to Know Us</h6>
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">About Amazon</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Press Releases</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none ">Careers</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Amazon Science</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold text-white">Connect with Us</h6>
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Facebook</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Twitter</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Instagram</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold text-white">Make Money with Us</h6>
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Sell on Amazon</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Sell under Amazon
                            Accelerator</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Protect and Build Your
                            Brand</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Amazon Global Selling</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Supply to Amazon</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Become an Affiliate</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Fulfilment by Amazon</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Advertise Your Products</a>
                    </li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Amazon Pay on Merchants</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold text-white">Let Us Help You</h6>
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Your Account</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Returns Centre</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Recalls and Product Safety
                            Alerts</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">100% Purchase Protection</a>
                    </li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Amazon App Download</a></li>
                    <li class="mb-1"><a href="#" class="text-light text-decoration-none">Help</a></li>
                </ul>
            </div>
        </div>

        <div class="border-top border-secondary pt-4 d-flex align-items-center justify-content-center gap-5">

            <!-- Amazon Logo -->
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" alt="Amazon Logo"
                class="footer-logo" style="width: 100px; filter: brightness(0) invert(1);">

            <!-- Buttons -->
            <div class="d-flex gap-2">
                <button class="btn btn-outline-light btn-sm px-5 text-light">
                    <i class="bi bi-globe"></i> English
                </button>
                <button class="btn btn-outline-light btn-sm px-3 text-light">
                    <img src="https://flagcdn.com/16x12/in.png" alt="India Flag"> India
                </button>
            </div>

        </div>

    </div>
</footer>

<footer class="footer2 text-light pt-5">
    <div class="container">
        <div class="row">

            <!-- Column 1 -->
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold">AbeBooks</h6>
                <p class="mb-1">Books, art & collectibles</p>
                <h6 class="fw-bold mt-3">Shopbop</h6>
                <p class="mb-0">Designer Fashion Brands</p>
            </div>

            <!-- Column 2 -->
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold">Amazon Web Services</h6>
                <p class="mb-1">Scalable Cloud Computing Services</p>
                <h6 class="fw-bold mt-3">Amazon Business</h6>
                <p class="mb-0">Everything For Your Business</p>
            </div>

            <!-- Column 3 -->
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold">Audible</h6>
                <p class="mb-1">Download Audio Books</p>
                <h6 class="fw-bold mt-3">Prime Now</h6>
                <p class="mb-0">2-Hour Delivery on Everyday Items</p>
            </div>

            <!-- Column 4 -->
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold">IMDb</h6>
                <p class="mb-1">Movies, TV & Celebrities</p>
                <h6 class="fw-bold mt-3">Amazon Prime Music</h6>
                <p class="mb-0">100 million songs, ad-free <br> Over 15 million podcast episodes</p>
            </div>

        </div>

        <!-- Bottom bar -->
        <div class="text-center mt-4 py-3  border-secondary small">
            <span class="me-3">Conditions of Use & Sale</span>
            <span class="me-3">Privacy Notice</span>
            <span>Interest-Based Ads</span>
            <div class="mt-2">© 1996-2025, Amazon.com, Inc. or its affiliates</div>
        </div>
    </div>
</footer>