/* .dashboard {
  display: flex;
  min-height: calc(100vh - 60px);
} */

.dashboard {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}
