<div class="container my-5">
    <h3 class="text-center mb-4 fw-bold text-primary">Shop by Category</h3>
    <div class="row g-4">
        @for (cat of categories; track $index) {
        <div class="col-6 col-md-3" (click)="goToCategory(cat.name)">
            <div class="card category-card h-100 text-center">
                <img [src]="cat.image" [alt]="cat.image" class="card-img-top category-img">
                <div class="card-body">
                    <h6 class="card-title text-dark fw-semibold">{{ cat.name }}</h6>
                </div>
            </div>
        </div>
        }
    </div>
</div>