<main class="main-content">
    <!-- Stats Cards -->
    <section class="cards">
        <div class="card">
            <img src="images/1.webp" alt="Card Image">
            <p class="card-title text-center">Mobile</p>
        </div>
        <div class="card">
            <img src="images/2.jpeg" alt="Card Image">
            <p class="card-title text-center">Mobile</p>
        </div>
        <div class="card">
            <img src="images/3.webp" alt="Card Image">
            <p class="card-title text-center">Mobile</p>
        </div>
        <div class="card">
            <img src="images/4.webp" alt="Card Image">
            <p class="card-title text-center">Mobile</p>
        </div>
        <div class="card">
            <img src="images/4.webp" alt="Card Image">
            <p class="card-title text-center">Mobile</p>
        </div>
        <div class="card">
            <img src="images/3.webp" alt="Card Image">
            <p class="card-title text-center">Mobile</p>
        </div>
        <div class="card">
            <img src="images/2.jpeg" alt="Card Image">
            <p class="card-title text-center">Mobile</p>
        </div>
        <div class="card">
            <img src="images/1.webp" alt="Card Image">
            <p class="card-title text-center">Mobile</p>
        </div>
    </section>

</main>