
/* Main content */
.main-content {
  flex: 1;
  padding: 15px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1;
  min-width: 220px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  /* height: 150px;  */
  object-fit: cover; 
  border-radius: 12px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1rem;
  font-weight: 500;
}
