.custom-carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
}

.carousel-image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 1px 10px;
  cursor: pointer;
  border-radius: 40%;
  user-select: none;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-btn:hover {
  background-color: rgba(0,0,0,0.8);
}


@media (max-width: 768px) {
 
  .custom-carousel{
    display: none;
  }
}